header.header
	.header__wrapper
		.header__top
			a.header__logo(href='/')
				img(src='images/header/logo-white.png')
			button.header__burger
				span.header__line
		.header__menu
			nav.header__nav
				ul.header__list
					li.header__item.header__item--active
						a.header__link(href='#')
							span.header__icon
								include air.svg
							span.header__name Campaign
					li.header__item
						a.header__link(href='#')
							span.header__icon
								include pazle.svg
							span.header__name Native id
					li.header__item
						a.header__link(href='#')
							span.header__icon
								include pazle.svg
							span.header__name Websites
					li.header__item
						a.header__link(href='#')
							span.header__icon
								include report.svg
							span.header__name Report
					li.header__item
						a.header__link(href='#')
							span.header__icon
								include pazle.svg
							span.header__name Account settings
					li.header__item
						a.header__link(href='#')
							span.header__icon
								include pazle.svg
							span.header__name Publisher list
					li.header__item
						a.header__link(href='#')
							span.header__icon
								include pazle.svg
							span.header__name Customer list
					li.header__item
						a.header__link(href='#')
							span.header__icon
								include pazle.svg
							span.header__name Websites list
					li.header__item
						a.header__link(href='#')
							span.header__icon
								include pazle.svg
							span.header__name Logout

