.campaing
  background-color: #fff

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px 15px 15px 37px
    border-bottom: 1px solid #E5E5E5

  &__icon
    display: inline-block
    vertical-align: middle
    margin-right: 10px
    line-height: 0

    path
      fill: #5D78FF

  &__title
    vertical-align: middle
    font-size: 18px
    line-height: normal
    color: #464457

  &__text
    margin-right: 20px
    font-size: 15px
    line-height: normal
    color: #7D829F

  &__label
    margin-right: 24px

  &__input
    width: 70px
    margin-right: 5px
    padding: 10px 8px
    border: 1px solid rgba(196, 196, 196, 0.8)
    box-sizing: border-box
    border-radius: 5px
    font-size: 13px
    line-height: normal
    color: #6D7393

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      appearance: none

    &__val
      font-size: 15px
      line-height: normal
      color: #6D7393
