extends /layout/app

block content
  - var text =
  - ["User ID", "Admin action", "Status", "A_ID", "Name", "StartDate/EndDate", "Impressions Counter", "Max Impressions", "Current Spend", "Max Spend"]

  .container
    .template
      .template__wrapper
        button.btn.template__btn.js-create-order Create insertion order
        include ../../blocks/user/user.pug
      .template__wrapper
        .template__desc
          span.template__icon
            include air.svg
          span.template__title Campaign
          ul.template__breadcrumbs
            li.template__element Campaign
            li.template__element Create New Insertion Order
        .template__markup
          span.template__text User Markup Rate
          label.template__label
            input.template__input(type='number')
            span.template__val %
          button.btn.btn--pink Change user markup
        .template__backList
          button.btn.btn--warning.js-change  Back to list

      .template__holder

        .template__table
          .template__row
            each value in text
              .template__col
                span.template__text.template__text--md #{value}

        .template-create
          .template-create__header
            .template-create__title Create New Insertion Order

          .template-create__main
            form.template-create__form(action='#' method='POST')
              .template-create__field
                .template-create__text Order Name
                .template-create__label
                  input.template-create__input
              .template-create__field
                .template-create__text Customer Name
                .template-create__label
                  input.template-create__input
                  .template-create__help (Use this field for your own customer reference if any)
              .template-create__field
                .template-create__text Maximum Impressions
                .template-create__label
                  input.template-create__input
                  .template-create__help (Maximum campaign impressions before the bids stop)
              .template-create__field
                .template-create__text Maximum Spend
                .template-create__label
                  input.template-create__input
                  .template-create__help (Maximum campaign $$$ spent before the bids stop)

              .template-create__private
                .template-create__item
                  .template-create__title Private Exchange Inventory Feeds
                  .template-create__text [ Default Value for new Line Items ]
                  .template-create__action
                    button.btn.btn--pink(type="button") Add
                    button.btn.btn--md(type="button") Remove
                  textarea.template-create__message
                  .template-create__notifications  Statistics Date: LATEST

                .template-create__item
                  .template-create__title Platform Connection Inventory Feeds
                  .template-create__text [ Default Value for new Line Items ]
                  .template-create__action
                    button.btn.btn--pink(type="button") Add
                    button.btn.btn--md(type="button") Remove
                  textarea.template-create__message
                  .template-create__notifications
                    | Statistics Date:
                    span ADD Data Picker

                .template-create__item
                  .template-create__title SSP RTB Publisher Inventory Feeds
                  .template-create__text [ Default Value for new Line Items ]
                  .template-create__action
                    button.btn.btn--pink(type="button") Add
                    button.btn.btn--md(type="button") Remove
                  textarea.template-create__message
                  .template-create__notifications
                    | Statistics Date:
                    span ADD Data Picker

          .template-create__footer
            buttn.btn.btn--success(type='button') Start campaign
