.campaing

  &--createOrder

    .campaing__wrapper:first-child
      justify-content: flex-end

    .campaing__btn
      display: none

    .campaing__breadcrumbs
      display: inline-block

    .campaing__markup
      display: none

    .campaing__backList
      display: block

    .campaing__table
      display: none

    .campaing-create
      display: block

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px 15px 15px 37px
    background-color: #fff
    border-bottom: 1px solid #E5E5E5

    +media-768
      flex-direction: column
      align-items: flex-start

    +media-640
      padding: 15px

  &__icon
    display: inline-block
    vertical-align: middle
    margin-right: 10px
    line-height: 0

    path
      fill: #5D78FF

  &__title
    vertical-align: middle
    font-size: 18px
    line-height: normal
    color: #464457

    &--md
      font-size: 20px

  &__desc
    +media-480
      margin-bottom: 10px

  &__breadcrumbs
    display: none
    vertical-align: middle
    margin-left: 10px
    padding-left: 20px
    border-left: 1px solid #E5E5E5

    +media-480
      display: block
      margin-top: 10px
      margin-left: 0
      padding-left: 0
      border-left: 0

  &__element
    display: inline-block
    vertical-align: middle
    margin-right: 5px

    &:before
      content: ''
      width: 5px
      height: 5px
      display: inline-block
      vertical-align: middle
      margin-right: 5px
      background: rgba(196, 196, 196, 0.8)
      border-radius: 50%

    &:last-child
      margin-right: 0

  &__text
    margin-right: 20px
    font-size: 15px
    line-height: normal
    color: #7D829F

    +media-480
      display: block
      margin-bottom: 10px

  &__label
    margin-right: 24px

    +media-480
      display: block
      margin-bottom: 10px

  &__input
    width: 70px
    margin-right: 5px
    padding: 10px 8px
    border: 1px solid rgba(196, 196, 196, 0.8)
    box-sizing: border-box
    border-radius: 5px
    font-size: 13px
    line-height: normal
    color: #6D7393

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      appearance: none

    &--md
      max-width: 466px

  &__val
    font-size: 15px
    line-height: normal
    color: #6D7393

  &__backList
    display: none

  &__holder
    margin: 20px

  &__table
    display: flex
    justify-content: space-between
    padding: 15px 10px
    background-color: #fff

    +media-1200
      flex-direction: column

  &-create
    display: none
    background-color: #fff
    //border-bottom: 1px solid #E5E5E5

    &__header
      padding: 30px 30px 25px 50px
      border-bottom: 1px solid #E5E5E5

      +media-640
        padding: 15px

    &__title
      vertical-align: middle
      font-size: 20px
      font-weight: $font-weight-bold
      line-height: normal
      color: #464457

      +media-640
        font-size: 18px

    &__main
      padding: 30px 30px 25px 50px

      +media-640
        padding: 15px

    &__field
      margin-bottom: 20px

    &__text
      margin-bottom: 13px
      font-size: 16px
      line-height: normal
      color: #7D829F

    &__label
      max-width: 466px

    &__input
      width: 100%
      margin-bottom: 5px
      padding: 12px 25px 12px 12px
      border: 1px solid #E5E5E5
      border-radius: 5px

    &__help
      font-size: 16px
      line-height: normal
      color: #5B9BD1

    &__action
      margin-bottom: 20px

    &__message
      width: 490px
      height: 110px
      padding: 15px
      border: 1px solid rgba(196, 196, 196, 0.8)
      resize: none

      +media-640
        width: 100%

    &__footer
      padding: 40px 50px
      border-top: 1px solid #E5E5E5


