extends /layout/app

block content
	- var thead = ["Name", "Description", "Media Type", "View/Edit", "Date Created", "Date Updated"]

	.container
		.template
			.template__wrapper
				button.btn.template__btn.js-create(data-type='Id') Create native id
				include ../../blocks/user/user.pug
			.template__wrapper
				.template__desc
					span.template__icon
						include pazle.svg
					span.template__title Native id
					ul.template__breadcrumbs
						li.template__element Native id
						li.template__element Native Ad Builder
				.template__markup
					span.template__text Search for Media
					label.template__label
						input.template__input.template__input--lg(type='number')
					button.btn.btn--pink Go
				.template__backList
					button.btn.btn--warning.btn--warning-bold.js-change  Back to list

			.template__holder

				.template__table
					.template__head
						.template__row
							each value in thead
								.template__col
									span.template__text.template__text--md #{value}
					.template__row
						.template__col.template__col--value
							span.template__text.template__text--md banneryahoo
						.template__col.template__col--value
							span.template__text.template__text--md test
						.template__col.template__col--value
							span.template__text.template__text--md image
						.template__col.template__col--value
							button.btn Edit
						.template__col.template__col--value
							span.template__text.template__text--md 04/10/19 1:04 PM
						.template__col.template__col--value
							span.template__text.template__text--md 04/10/19 3:04 PM


				.template-create
					.template-create__header
						.template-create__title Native Ad Builder

					.template-create__main
						.template-create__left
							form.template-create__form(action='#' method='POST')
								.template-create__field
									.template-create__text Ad Name
									.template-create__label
										input.template-create__input.template-create__input--md
								.template-create__field
									.template-create__text Title
									.template-create__label
										input.template-create__input.template-create__input--sm(placeholder='Learn about this awesome thing')
								.template-create__field
									.template-create__text Select Media Type
									.template-create__label.template-create__label--md
										select.template-create__select
											option Image
											option Test 1
											option Test 2
										//input.template-create__input
								.template-create__field
									.template-create__text Description
									.template-create__label.template-create__label--lg
										input.template-create__input
								.template-create__field
									.template-create__text Sponsored By
									.template-create__label
										input.template-create__input.template-create__input--xs(placeholder='My Brand')
								.template-create__field
									.template-create__text Add Data Attributes
									.template-create__label.template-create__label--md.template-create__label--multi
										select.template-create__select
											option Rating
											option Test 1
											option Test 2
										button.btn.btn--pink.template-create__add Add

						.template-create__right
							.template-create__preview  PREVIEW
							.template-create__pic
								img(src='images/preview.png')

					.template-create__footer
						buttn.btn.btn--success(type='button') Create Native Ad
