- var data =
-
	[
		{name: 'Campaign', src: '', actionButton: 'campaing__btn js-create-order', actionButtonContent: 'Create insertion order', paginationPrev: 'Campaign', paginationCurrent: 'Create New Insertion Order', text1: 'User Markup Rate', text2: '', paginationButton: 'btn--pink', paginationButtonContent: 'Change user markup'},
		{name: '', src: '', actionButton: 'button header', actionButtonContent: '', pagination: '', text1: '', text2: '', paginationButton: '', paginationButtonContent: ''},
		{name: '', src: '', actionButton: 'button header', actionButtonContent: '', pagination: '', text1: '', text2: '', paginationButton: '', paginationButtonContent: ''},
		{name: '', src: '', actionButton: 'button header', actionButtonContent: '', pagination: '', text1: '', text2: '', paginationButton: '', paginationButtonContent: ''},
		{name: '', src: '', actionButton: 'button header', actionButtonContent: '', pagination: '', text1: '', text2: '', paginationButton: '', paginationButtonContent: ''},
		{name: '', src: '', actionButton: 'button header', actionButtonContent: '', pagination: '', text1: '', text2: '', paginationButton: '', paginationButtonContent: ''},
		{name: '', src: '', actionButton: 'button header', actionButtonContent: '', pagination: '', text1: '', text2: '', paginationButton: '', paginationButtonContent: ''},
		{name: '', src: '', actionButton: 'button header', actionButtonContent: '', pagination: '', text1: '', text2: '', paginationButton: '', paginationButtonContent: ''},
		{name: '', src: '', actionButton: 'button header', actionButtonContent: '', pagination: '', text1: '', text2: '', paginationButton: '', paginationButtonContent: ''},
	]
