.user
	.user__wrapper
		button.user__item
			.user__icon.user__icon--search
				include search.svg
		button.user__item
			.user__notifications.user__notifications--new 7
			.user__icon.user__icon--bell
				include bell.svg
		button.user__item
			.user__notifications.user__notifications--unread 4
			.user__icon.user__icon--message
				include message.svg
		button.user__item
			.user__icon.user__icon--datapicker
				include datapicker.svg
		button.user__item
			.user__icon.user__icon--lang
				include en.svg
		button.user__item.user__item--info
			.user__name
				span.user__greeting Hi,&nbsp;
				| Test1media
			.user__logo T
